.navbar {
    margin-bottom: 10;
    border-radius: 1;
    }
    footer {
    background-color: #e4e4e4;
    padding: 25px;
    }
    
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 1000px;
    }

table td {
border: solid 1px #666;
width: 310px;
word-wrap: break-word;
text-align: center;
vertical-align: middle;
}

body {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    }

    /* References */
    /* https://www.w3docs.com/snippets/css/how-to-wrap-the-content-of-a-table-cell.html Wrapping text in table */