.navbar {
    margin-bottom: 0;
    border-radius: 0;
    }
    footer {
    background-color: #e4e4e4;
    padding: 25px;
    }
body {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: beige;
    text-decoration-color: blue;
    
  }
h1{
    color:blueviolet;
}
h2{
  color:chartreuse;
}
a{
  color:darkgoldenrod;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 1000px;
    }

table td {
border: solid 1px #666;
width: 310px;
word-wrap: break-word;
text-align: center;
vertical-align: middle;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

    /* References */
    /* https://www.w3docs.com/snippets/css/how-to-wrap-the-content-of-a-table-cell.html Wrapping text in table */