<!doctype html>
<html>
  <head>
      <title>Charlotte Bagels Reading List</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <link rel="stylesheet" href="css/Reading.css">
      <script src="https://unpkg.com/vue@next"></script> 
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RandomWebsite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="AboutMe.html">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Reading.html">Book Collection</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <body>
    <div  class="col col-8" v-if="selectedBook"></div>
      <div id="readingResults" class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Year</th>
              <th>Publisher Date</th>
              <th>Page Count</th>
              <th>MSRP</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="book in books">
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.year }}</td>
              <td>{{ book.publisher }}</td>
              <td>{{ book.pageCount }}</td>
              <td>{{ book.MSRP }}</td>
              <td>
                <button type="button" v-on:click="handleEditBook(book)" class="btn btn-outline-secondary btn-sm">Edit</button>
                <button type="button" v-on:click="postDeleteBook(book)" class="btn btn-outline-secondary btn-sm">Delete</button>
              </td>
            </tr>
          
          </tbody>
        </table>

        <h3>{{ selectedBook === null ? "Add " : "Edit " }} Book</h3>
        <form v-on:submit.prevent="postBook">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" v-model="bookForm.title"
              class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" v-model="bookForm.author" class="form-control" id="author">
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="number" v-model="bookForm.year" class="form-control" id="year">
          </div>
          <div class="mb-3">
            <label for="publisher" class="form-label">Publisher</label>
            <input type="text" v-model="bookForm.publisher" class="form-control" id="publisher">
          </div>
          <div class="mb-3">
            <label for="pageCount" class="form-label">Page Count</label>
            <input type="number" v-model="bookForm.pageCount" class="form-control" id="pageCount">
          </div>
          <div class="mb-3">
            <label for="MSRP" class="form-label">MSRP</label>
            <input type="text" v-model="bookForm.MSRP" class="form-control" id="MSRP">
          </div>
          <button type="submit" class="btn btn-primary">{{ selectedBook === null ? "Add " : "Edit " }} Book</button>
          <button type="button" class="btn btn-outline-secondary" 
              v-if="selectedBook"
              v-on:click="handleResetEdit">Cancel Edit</button>
        </form>
        <div class="noBooks" v-if="! books.length">
          <h3>No books.</h3>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="js/reading.js"></script>
      
  </body>
    <!-- References -->
    <!-- https://www.amazon.com/gp/bookseries/B00CJG28U8/ Book Prices -->
    <!-- https://www.goodreads.com/series/45175-harry-potter Book Info -->
    <!-- https://www.w3schools.com/bootstrap/bootstrap_forms.asp Bootstrap Forms -->
    <!-- https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css Bootstrap Navbar -->
    <!-- https://www.w3schools.com/howto/howto_css_thumbnail.asp Thumbnails -->
</html>